*{
	box-sizing: border-box;
	font-family: Times New Roman;
}

html, body
{
	margin: 0px;
	padding: 0px;
	font-family: "Times New Roman";
}

.navbar li 
{
	display: inline;
}

.navbar-logo
{
	margin-left: 50px;
}

.navbar-items
{
	margin-top: 40px;
	margin-right: 90px;
	float: right;
	text-align: left;
}
.navbar ul a
{
	display: inline-block;
	padding: .55em;
	color: #0f1f8a;
	text-decoration: none;
	text-shadow: 0px 5px 10px rgba(255,255,255,1);
	mix-blend-mode:	normal;
	box-shadow: 0 5px 10px rgba(255,255,255,1);
	background: rgba(0,0,0,.1);
}
.navbar ul a:hover
{
	background-color: rgba(255,255,255,.04);
}

.navbar
{
	text-align: left;
	font-size: 2.0em;
	font-weight: lighter;
}

.main-header
{
	padding: none;
	margin: none;
}

.content-section
{
	margin: 1em;
	max-width: 900px;
	padding: 0 0.5em;
}

.section-header
{
	font-family: Times New Roman ;
	color: #0f1f8a;
	font-weight: normal;
	text-align: center;
	font-size: 2.5em;
}

.about-us-image
{
	float: left;
	height: 50%;
	width: 50%;
	margin: 15px;
	border-radius: 50%;
}

.about-us-text
{
	position: relative;
	text-align: center;
	color:  #0f1f8a;
	font-size: 16.7px;
	margin: 0;
	padding: 0;
	text-shadow: 0 5px 10px rgba(255,255,255,1);
	mix-blend-mode: normal;
	box-shadow: 0 5px 10px rgba(255,255,255,1);
	background: rgba(0,0,0,.1);

}