*{
	box-sizing: border-box;
	font-family: Times New Roman;
}

html, body
{
	margin: 0px;
	padding: 0px;
	font-family: "Times New Roman";
}

.navbar li 
{
	display: inline;
}

.navbar-logo
{
	margin-left: 50px;
}

.navbar-items
{
	margin-top: 40px;
	margin-right: 90px;
	float: right;
	text-align: left;
}
.navbar ul a
{
	display: inline-block;
	padding: .55em;
	color: #0f1f8a;
	text-decoration: none;
	text-shadow: 0px 5px 10px rgba(255,255,255,1);
	mix-blend-mode:	normal;
	box-shadow: 0 5px 10px rgba(255,255,255,1);
	background: rgba(0,0,0,.1);
}
.navbar ul a:hover
{
	background-color: rgba(255,255,255,.04);
}

.navbar
{
	text-align: left;
	font-size: 2.0em;
	font-weight: lighter;
}

.main-header
{
	padding: none;
	margin: none;
}

.content-section
{
	margin: 1em;
	max-width: 900px;
	padding: 0 0.5em;
}

.title
{
	margin: 0 auto;
	padding: .55em;
	color: #0f1f8a;
	font-size: 45px;
	text-align: center;
	text-shadow: 0px 5px 10px rgba(255,255,255,1);
	mix-blend-mode:	normal;
	box-shadow: 0 5px 10px rgba(255,255,255,1);
	background: rgba(0,0,0,.1);	
}

.content-table
{
	border-collapse: collapse;
	margin:50px 0 25px 60px;
	font-size: 2em;
	min-width: 400px;
	text-shadow: 0px 5px 10px rgba(255,255,255,1);
	mix-blend-mode:	normal;
	box-shadow: 0 5px 10px rgba(255,255,255,1);
	background: rgba(0,0,0,.1);
}

.content-table thead tr
{
	background-color: #ffffff;
	color: #0f1f8a;
	text-align: left;
	font-weight: bold;
	box-shadow: 0 5px 10px rgba(255,255,255,1);
	background: rgba(0,0,0,.1);
}

.content-table th, td 
{
	padding: 12px 15px;
	color: #0f1f8a;
	box-shadow: 0 5px 10px rgba(255,255,255,1);
	background: rgba(0,0,0,.1);
}

.content-table tbody tr 
{
	border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even)
{
	background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type
{
	border-bottom: 2px solid #ffffff;
}